<link href="{{ '/assets/images/icons/ios/apple-touch-icon-57x57.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="57x57">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-60x60.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="60x60">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-72x72.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="72x72">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-76x76.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="76x76">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-114x114.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="114x114">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-120x120.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="120x120">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-144x144.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="144x144">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-152x152.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="152x152">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-180x180.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="180x180">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="192x192">
<link href="{{ '/assets/images/icons/ios/apple-touch-icon-precomposed.png?v=M44lzPylqQ' | relative_url }}" rel="apple-touch-icon" sizes="192x192">

<link href="{{ '/assets/images/icons/android/android-chrome-36x36.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="36x36"  type="image/png">
<link href="{{ '/assets/images/icons/android/android-chrome-48x48.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="48x48"  type="image/png">
<link href="{{ '/assets/images/icons/android/android-chrome-72x72.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="72x72"  type="image/png">
<link href="{{ '/assets/images/icons/android/android-chrome-96x96.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="96x96"  type="image/png">
<link href="{{ '/assets/images/icons/android/android-chrome-144x144.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="144x144"  type="image/png">
<link href="{{ '/assets/images/icons/android/android-chrome-192x192.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="192x192"  type="image/png">
<link href="{{ '/assets/images/icons/android/manifest.json' | relative_url }}" rel="manifest">

<link href="{{ '/assets/images/icons/favicon/16x16/favicon.png?v=M44lzPylqQ' | relative_url }}" rel="icon"  sizes="16x16" type="image/png">
<link href="{{ '/assets/images/icons/favicon/32x32/favicon.png?v=M44lzPylqQ' | relative_url }}" rel="icon"  sizes="32x32" type="image/png">
<link href="{{ '/assets/images/icons/favicon/48x48/favicon.png?v=M44lzPylqQ' | relative_url }}" rel="icon"  sizes="48x48" type="image/png">

<link color="#00adb5" href="{{ '/assets/images/icons/macos/safari-pinned-tab.svg' | relative_url }}" rel="mask-icon"  >

<meta content="#00aba9" name="msapplication-TileColor" >
<meta content="#ffffff" name="theme-color">
<meta content="{{ '/assets/images/icons/windows/mstile-144x144.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-TileImage" >
<meta content="{{ '/assets/images/icons/windows/mstile-70x70.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square70x70logo">
<meta content="{{ '/assets/images/icons/windows/mstile-150x150.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square150x150logo">
<meta content="{{ '/assets/images/icons/windows/mstile-310x150.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-wide310x150logo">
<meta content="{{ '/assets/images/icons/windows/mstile-310x310.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square310x310logo">
<meta content="{{ '/assets/images/icons/windows/browserconfig.xml' | relative_url }}" name="msapplication-config"/>

<link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" rel="stylesheet" type="text/css" />
<!--@formatter:off-->
{% if page.page_css %}
  {% for stylesheet in page.page_css %}
    <link href="{{ stylesheet | relative_url }}" rel="stylesheet" />
  {% endfor %}
{% endif %}
<!--@formatter:on-->
