<link href="{{ '/assets/images/apple-touch-icon-57x57.png' | relative_url }}" rel="apple-touch-icon" sizes="57x57">
<link href="{{ '/assets/images/apple-touch-icon-60x60.png' | relative_url }}" rel="apple-touch-icon" sizes="60x60">
<link href="{{ '/assets/images/apple-touch-icon-72x72.png' | relative_url }}" rel="apple-touch-icon" sizes="72x72">
<link href="{{ '/assets/images/apple-touch-icon-76x76.png' | relative_url }}" rel="apple-touch-icon" sizes="76x76">
<link href="{{ '/assets/images/apple-touch-icon-114x114.png' | relative_url }}" rel="apple-touch-icon" sizes="114x114">
<link href="{{ '/assets/images/apple-touch-icon-120x120.png' | relative_url }}" rel="apple-touch-icon" sizes="120x120">
<link href="{{ '/assets/images/apple-touch-icon-144x144.png' | relative_url }}" rel="apple-touch-icon" sizes="144x144">
<link href="{{ '/assets/images/apple-touch-icon-152x152.png' | relative_url }}" rel="apple-touch-icon" sizes="152x152">
<link href="{{ '/assets/images/apple-touch-icon-180x180.png' | relative_url }}" rel="apple-touch-icon" sizes="180x180">
<link href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}" rel="apple-touch-icon" sizes="192x192">
<link href="{{ '/assets/images/apple-touch-icon-precomposed.png' | relative_url }}" rel="apple-touch-icon" sizes="192x192">

<link href="{{ '/assets/images/android-chrome-36x36.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="36x36"  type="image/png">
<link href="{{ '/assets/images/android-chrome-48x48.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="48x48"  type="image/png">
<link href="{{ '/assets/images/android-chrome-72x72.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="72x72"  type="image/png">
<link href="{{ '/assets/images/android-chrome-96x96.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="96x96"  type="image/png">
<link href="{{ '/assets/images/android-chrome-144x144.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="144x144"  type="image/png">
<link href="{{ '/assets/images/android-chrome-192x192.png?v=M44lzPylqQ' | relative_url }}" rel="icon" sizes="192x192"  type="image/png">
<link href="{{ '/assets/images/manifest.json' | relative_url }}" rel="manifest">

<link href="{{ '/assets/images/favicon-16x16.png' | relative_url }}" rel="icon" sizes="16x16" type="image/png">
<link href="{{ '/assets/images/favicon-32x32.png' | relative_url }}" rel="icon" sizes="32x32" type="image/png">
<link href="{{ '/assets/images/favicon-48x48.png' | relative_url }}" rel="icon" sizes="48x48" type="image/png">
<link href="{{ '/assets/images/favicon-96x96.png' | relative_url }}" rel="icon" sizes="96x96" type="image/png">

<link color="#000" href="{{ '/assets/images/safari-pinned-tab.svg' | relative_url }}" rel="mask-icon"  >

<meta content="#000" name="msapplication-TileColor" >
<meta content="{{ '/assets/images/mstile-144x144.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-TileImage" >
<meta content="{{ '/assets/images/mstile-70x70.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square70x70logo">
<meta content="{{ '/assets/images/mstile-150x150.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square150x150logo">
<meta content="{{ '/assets/images/mstile-310x310.png?v=M44lzPylqQ' | relative_url }}" name="msapplication-square310x310logo">
<meta content="{{ '/assets/images/browserconfig.xml' | relative_url }}" name="msapplication-config"/>

<link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" rel="stylesheet" type="text/css" />
<!--@formatter:off-->
{% if page.page_css %}
  {% for stylesheet in page.page_css %}
    <link href="{{ stylesheet | relative_url }}" rel="stylesheet" />
  {% endfor %}
{% endif %}
<!--@formatter:on-->
